<div class="footer">
  <div class="footer-inner">

    <img class="footer-logo"
         src="https://drive.google.com/thumbnail?id=1Sr1eMqd6h21-HVOj93iMOohGJ1rAx3or&sz=w500">

    <div class="footer-text">
      <p style="font-size: 2em;">웅 뽀뽀~ </p>
    </div>

  </div>
</div>

<style>
.footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 25px 20px;

  text-align: center;
}

/* 로고 */
.footer-logo {
  height: 26px;
  margin-bottom: 12px;
  opacity: 0.85;
}

/* 텍스트 */
.footer-text p {
  margin: 4px 0;
  font-size: 12px;
  color: #666;
  line-height: 1.5;
}
</style>
